.wrapper {
  height: 100vh;
  overflow: auto;
  position: relative;
}

.animate-wrapper {
  position: sticky;
  height: 100%;
  overflow: hidden;
}

.after-scroll-process {
  position: relative !important;
}
